{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Url Shortner</title>
    <link rel="stylesheet" type='text/css' href="{% static 'index.css' %}"/>
    {% comment %} <link rel="stylesheet" type="text/css" href="C:\Users\LAB9COMP27\Documents\python\Mini-Projects\urlShortner\main\templates\main\index.css" />  {% endcomment %}
  
  </head>

  <body>
    <h1>Url Shortner</h1>

    <form method="post" >
      {% csrf_token %}
      <input placeholder="Enter url " id="url" name="url">
      <button type="submit" action="{% url 'index' %}">Shortern</button>
    </form>

  <p>
    {% if uuid %}
    shorten.ly/{{ uuid}}
    {% endif %}

  </p>
  </body>

</html>
